 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

:root {
    --bg: #EAF4F4;
    --text: #212121;
    --light: #CCE3DE;
    --medium: #95B1A5;
    --dark: #406350;
}

* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

button {
    background-color: var(--dark);
    color: var(--bg);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.25rem;
    border: none;
}

#menu {
    background-color: var(--dark);
    color: var(--bg);
    grid-row: 1 / span 2;
}

#menu svg {
    height: 4rem;
    display: inline-block;
    margin-right: 0.75rem;
}

#menu > div:first-child {
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

#menu h2 {
    display: inline;
    font-size: 1.75rem;
}

#header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 3rem;
}

#main {
    background-color: var(--medium);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem 0 4rem;
}

#sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.projects > div {
    padding: 1rem;
    background-color: var(--bg);
    border-left: 0.5rem solid var(--dark);
    color: var(--text);
    border-radius: 0.5rem;
}

.projects > div {
    position: relative;
    box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0, 0, 0, 0.25);
}

.social {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    right: 0;
}

.social svg {
    display: inline-block;
    margin: 0.5rem;
    height: 2rem;
}

ul li {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
}

#menu ul li svg {
    height: 2.5rem;
    margin-right: 1.5rem;
    display: inline;
}

ul:first-of-type {
    margin: 4rem 0;
}

.avatarSmall {
    height: 4rem;
    width: 4rem;
    margin: auto 2rem;
    background-image: url(a-1.jpg);
    background-size: 200%;
    background-position: top;
    border-radius: 100%;
}

.avatarBig {
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;
    background-image: url(a-1.jpg);
    background-size: 200%;
    background-position: top;
    border-radius: 100%;
}

.hiThere > div:nth-child(2) {
    margin: auto 0;
}

#header > div {
    margin: auto;
    width: 100%;
}

.hiThere {
    display: flex;
    margin-left: 0 !important;
}

#header > div:nth-child(1) svg {
    margin-right: 1rem;
}

#header > div:nth-child(1) input {
    width: 100%;
    border: none;
    background-color: rgba(149, 177, 165, 0.3333);
    border-radius: 2rem;
    padding: 0.5rem;
}

#header > div:nth-child(1) {
    display: flex;
    align-items: center;
}

#header > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: end;
}

#header > div:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > div svg {
    height: 2rem;
}